<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="/static/js/main.js" type="text/javascript"></script>
    <script src="/static/js/cart.js" type="text/javascript"></script>
    <script src="/static/js/filter.js" defer></script>

</head>

<body>

    <div class="container-fluid" id="header">
        <h1>Codecool Shop</h1>
    </div>
    <div class="cart-container">
        <a href="/cart">
        <span id="cart-counter" th:text="${cartItemCount}">2</span>
        <svg class="cart-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                <g>
                  <path d="M153,408c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51S181.05,408,153,408z M0,0v51h51l91.8,193.8L107.1,306
                             c-2.55,7.65-5.1,17.85-5.1,25.5c0,28.05,22.95,51,51,51h306v-51H163.2c-2.55,0-5.1-2.55-5.1-5.1v-2.551l22.95-43.35h188.7
                             c20.4,0,35.7-10.2,43.35-25.5L504.9,89.25c5.1-5.1,5.1-7.65,5.1-12.75c0-15.3-10.2-25.5-25.5-25.5H107.1L84.15,0H0z M408,408
                             c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51S436.05,408,408,408z" />
                </g>
            </svg>
        </a>
    </div>
    <div class="container-fluid" id="section-categories">
        <h1>All categories</h1>
        <div id="categories" class="boxfix rel categories">
            <label th:each="category : ${categories}">
                <input class="category" type="checkbox"
                       name="category" th:value="${category.id}" th:text="${category.name}">
            </label>

        </div>
        <h1>Products by supplier id:1</h1>
        <div id="suppliers" class="boxfix rel categories">
            <label th:each="supplier : ${suppliers}">
                <input class="supplier" type="checkbox"
                       name="supplier" th:value="${supplier.id}" th:text="${supplier.name}">
            </label>
        </div>
    </div>

    <div class="container nogap" id="section-highlighted-products">
        <h1>Highlighted products</h1>
        <div class="boxfix rel products" id="product-container">
            <div th:each="prod,iterStat : ${products}" class="product box">
                <img th:src="${prod.getImage()}" th:alt="${prod.name}" />
                <h3 class="name" th:text="${prod.name}">Product name</h3>
                <p class="description" th:text="${prod.description}">Product description... </p>
                <label class="price" th:text="${prod.getPrice()}">100 USD</label>
                <button type="button" class="add-to-cart" th:attr="onclick='addToCart(' + ${prod.id} + ', \'' + ${prod.name} + '\');incrementIconCounter();'" >Add to cart</button>
            </div>

            <div class="product box" id="product-template">
                <img src="IMAGE" />
                <h3 class="name" >NAME</h3>
                <p class="description" >DESCRIPTION</p>
                <label class="price" >PRICE</label>
                <button type="button" class="add-to-cart" onclick='addToCart("ID", "NAME");incrementIconCounter();'>Add to cart</button>
            </div>

        </div>
    </div>

    <div th:replace="footer.html :: copy"></div>

</body>
</html>