<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

    <div class="container-fluid" id="header">
        <h1>Codecool Shop</h1>
    </div>

    <div class="container-fluid">
        <h1 class="tax-title" th:text="${category.name}">Category Title</h1>
    </div>

    <div class="container nogap">
        <div class="boxfix rel products">
            <div th:each="prod,iterStat : ${products}" class="product box">
                <img src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" th:alt="${prod.name}" />
                <h3 class="name" th:text="${prod.name}">Product name</h3>
                <p class="description" th:text="${prod.description}">Product description... </p>
                <label class="price" th:text="${prod.getPrice()}">100 USD</label>
                <a class="btn" href="#">Add to cart</a>
            </div>
        </div>
    </div>

    <div th:replace="footer.html :: copy"></div>

</body>
</html>