<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Codecool Shop | shopping cart</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>


</head>

<body>

<div class="container-fluid" id="header">
    <h1>Codecool Shop</h1>
</div>

<div class="container-fluid">

    <h1>Order confirmed</h1>

    <div class="container">
        <p>First name: <strong th:text="${fname}">Summary</strong></p>
        <p>Last name: <strong th:text="${lname}">Summary</strong></p>
        <p>Email: <strong th:text="${email}">Summary</strong></p>
        <p>Phone number: <strong th:text="${phone}">Summary</strong></p>
        <p>Country: <strong th:text="${country}">Summary</strong></p>
        <p>City: <strong th:text="${city}">Summary</strong></p>
        <p>Zipcode: <strong th:text="${zipcode}">Summary</strong></p>
        <p>Address: <strong th:text="${address}">Summary</strong></p>

        <ul th:each="prod : ${cart.keySet()}">
            <li th:text="${prod.name} + ' Quantity: ' +
            ${cart.get(prod)} + ' Unit Price: ' +
            ${prod.defaultPrice} + ' All Price: ' +
            ${#numbers.formatDecimal((prod.defaultPrice * cart.get(prod)), 0, 2, 'POINT')}"></li>
        </ul>
        <p>Summary: <strong th:text="${summary}">Summary</strong><span> USD</span></p>

        <a href="/"><button type="button">OK</button></a>
    </div>

</div>