:root {
    --c-green: #50aa50;
}

.paymentBtnGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px ;
    justify-content: center;
    align-items: center;
}
.checkout_container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-flow: row;
    grid-template-areas:
    "details1 summary"
    "details2 summary"
    "details3 summary";
}

.details1 { grid-area: details1; }

.details2 { grid-area: details2; }

.details3 { grid-area: details3; }

.details-block {
    margin: auto;
}

.details-block label{
    display: inline-block;
    width: 8vw;
    text-align: right;
    vertical-align: middle;
    margin: 1vh auto;
}
.details-block input{
    display: inline-block;
    padding: 15px;
    width: 10vw;
    height: 2vh;
}

.cart-summary {
    grid-area: summary;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40%;
    background-color: var(--c-green);
    padding: 15px;
    text-transform: uppercase;
    font-weight: bolder;
}

.sub-title {
    margin: 2vh 0;
}

.cart-summary strong{
    color: white;
}

.container img {
    width: 180px;
    height: 150px;
}

.container img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.paymentMethod {
    text-align: center;
}
.paymentMethod > label {
    padding-top: 56%;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: var(--radius-normal);
}

.paymentMethod > label > input {
    transform: translateY(30px);
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.paymentMethod:hover > label {
    background-color: var(--c-fade);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.confirmBtn {
    display: block;
    width: fit-content;
    margin: 20px auto 20px;
    padding: 10px 30px;
    font-weight: 600;
    background: var(--c-green);
    color: white;
    transition: all ease-in 0.1s;
    border: 0;
    border-radius: 10px;
}

.confirmBtn:hover {
    opacity: 0.9;
    transform: scale(1.1);
}