.container,
.container-fluid,
.container-full {
    position: relative;
}

.container {
    display: block;
    margin-left: auto !important;
    margin-right: auto; !important;
    width: var(--container-width);
}
.container:not(.nogap),
.container-full:not(.nogap) {
    padding-left: var(--gap-normal);
    padding-right: var(--gap-normal);
}

.container-fluid {
    width: 100%;
    padding-left: var(--container-side-space) !important;
    padding-right: var(--container-side-space) !important;
}
.container-fluid:not(.nogap) {
    padding-left: calc( var(--container-side-space) + var(--gap-normal) ) !important;
    padding-right: calc( var(--container-side-space) + var(--gap-normal) ) !important;
}

.has-sidebar {
    font-size: 0;
}

.has-sidebar > * {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
}

.has-sidebar > .sidebar {
    width: var(--sidebar-2-width);
    padding: 0 var(--gap-large);
}
.has-sidebar > .sidebar:first-child {
    width: var(--sidebar-1-width);
}
.has-sidebar > .content {
    width: calc(100% - var(--sidebar-1-width));
}
.has-sidebar.two > .content {
    width: calc(100% - var(--sidebar-1-width) - var(--sidebar-2-width));
}

.has-sidebar > .sidebar > div {
    margin-top: var(--gap-large);
}

.bg-effect {
    position: relative;
}
.bg-effect:before {
    content: ' ';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 0;
    bottom: 0;
    transition: all linear 0.1s;
}
.bg-effect > * {
    position: relative;
    z-index: 2;
}

.checkbox-state input[type="checkbox"] {
    display: none;
}

.checkbox-state label[for] {
    display: block;
    width: 100%;
    padding: var(--gap-tiny) var(--gap-small);
    cursor: pointer;
}

.checkbox-state.bg-effect,
.checkbox-state.bg-effect:before {
    transition-duration: 0.2s;
}

.checkbox-state.bg-effect:hover:not(.checked) {
    color: var(--c-hover-fg);
}

.checkbox-state.bg-effect:before {
    background-color: var(--c-hover);
}
.checkbox-state.bg-effect:hover:not(.checked)::before {
    width: 100%;
}
.checkbox-state.checked.bg-effect {
    background-color: var(--c-accent);
    color: var(--c-accent-fg);
}
.checkbox-state.checked.bg-effect:before {
    left: 100%;
}


/*<--------------------------------product boxes-------------------------->*/
.products {
    padding: var(--gap-large) 0;
    margin-right: calc(0px - var(--gap-normal));
}

.product.box {
    width: calc(( 100% - var(--gap-normal) * var(--product-columns) ) / var(--product-columns));
    margin-right: var(--gap-normal);
    margin-bottom: var(--gap-normal);
    display: inline-block;
    vertical-align: top;
    background: var(--c-fade);
    border: 1px solid var(--c-fade);
    border-radius: var(--radius-normal);
    overflow: hidden;
    font-size: 0;
    transition: all ease-in 0.2s;
}
.product.box:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
.product.box > * {
    font-size: 1rem;
}

.product {
    position: relative;
}

.product > img {
    width: 100%;
    height: auto;
}

.product .name {
    padding: var(--gap-tiny);
    background: var(--c-fade);
}

.product .description {
    padding: var(--gap-tiny);
}

.product button.add-to-cart {
    display: block;
    width: fit-content;
    margin: var(--gap-tiny) auto var(--gap-small);
    padding: var(--gap-tiny) var(--gap-normal);
    font-weight: 600;
    background: var(--c-accent);
    color: var(--c-accent-fg);
    transition: all ease-in 0.1s;
    border: 0;
    border-radius: var(--radius-small);
    cursor: pointer;
}

.product button.add-to-cart:hover {
    opacity: 0.9;
    transform: scale(1.1);
    background: var(--c-hover);
    color: var(--c-hover-fg);
}

.product .price {
    position: absolute;
    right: var(--gap-tiny);
    top: var(--gap-tiny);
    display: inline-block;
    padding: var(--gap-atomic) var(--gap-tiny);
    background: var(--c-accent);
    color: var(--c-accent-fg);
    font-weight: 600;
    border-radius: var(--radius-small);
}


/*<--------------------------------filters-------------------------->*/
.sidebar > .filter-group > h3 {
    padding-bottom: var(--gap-atomic);
    border-bottom: 1px solid var(--c-fade);
}

.sidebar > .filter-group > div > div.checkbox-state {
    margin-top: var(--gap-tiny);
    border-radius: var(--radius-small);
    overflow: hidden;
}
.sidebar > .filter-group > div > div.checkbox-state:not(.checked) {
    background-color: var(--c-fade);
}




/*<--------------------------------cart-------------------------->*/
.cart-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    fill: #fff;
    width: 20px;
    transform: translate3d(-50%, -50%, 0) scale(1.5,1.5);
    margin-left: -1px;
}

#cart-counter {
    display: inline-block;
    position: absolute;
    top:0;
    right: 0;
    background: #ff2646;
    color: #fff;
    padding: var(--gap-atomic) var(--gap-tiny);
    border-radius: 100px;
    font-size: 14px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
    z-index: 10;
    text-align: center;
    opacity: 1;
    transition: 0.33s cubic-bezier(0.34, 0.13, 0.34, 1.43);
}

.cart-container {
    --cart-container-width: 70px;
    --cart-container-height: 70px;

    position: absolute;
    top: calc(50% - var(--cart-container-height) / 2);
    right: var(--gap-normal);
    cursor: pointer;
    display: block;
    background: var(--c-accent);
    width: var(--cart-container-width);
    height: var(--cart-container-height);
    border-radius: calc(var(--cart-container-width) / 2);
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
    transition: 0.3s;
}

.animation{
    animation: porog 0.65s linear both;
}

.method>img{
    width: 240px;
}


/*<--------------------------------mini cart-------------------------->*/
#mini-cart {
    position: relative;
}

#mini-cart > h3 {
    margin-bottom: var(--gap-tiny);
}

#mini-cart > iframe {
    width: 100%;
    border: 0;
}

#mini-cart > iframe.loaded {
    opacity: 1 !important;
}


/*<--------------------------------animation-------------------------->*/
@keyframes porog {
    0% {
        transform: scale(1) rotateZ(0);
    }
     50% {
        transform: scale(2) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}


/*<--------------------------------page parts-------------------------->*/
#header {
    background: var(--c-back2);
    color: var(--c-fore2);
    height: var(--header-text-height);
    padding-top: var(--gap-large);
    padding-bottom: var(--gap-normal);
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

#main-wrapper {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 0;
    top: var(--header-height);
}

#main-wrapper > .sidebar,
#main-wrapper > .content {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: var(--gap-large);
}