/*<--------------------------------variables-------------------------->*/
:root {
    /* container szélessége */
    --container-width: min(100%, 1140px);

    /* container távolsága az ablak széleitől */
    --container-side-space: calc((100% - var(--container-width)) / 2);

    /* oldalsáv szélessége */
    --sidebar-1-width: calc(max(10%, 100px) + var(--gap-large) * 2);
    --sidebar-2-width: calc(max(18%, 200px) + var(--gap-large) * 2);

    /* header magassága */
    --header-text-height: 27px;
    --header-padding-top: var(--gap-normal);
    --header-padding-bottom: var(--gap-small);
    --header-height: calc(var(--header-padding-top) + var(--header-padding-bottom) + var(--header-text-height));

    /* containerek horizontális gap-jei */
    --gap-atomic: 5px;
    --gap-tiny: 10px;
    --gap-small: 20px;
    --gap-normal: 30px;
    --gap-large: 50px;



    /* boxok oszlopszáma */
    --product-columns: 3;

    /* rádiuszok */
    --radius-normal: 10px;
    --radius-small: 5px;

    /* színek */
    --c-fade: rgba(0,0,0,.1);
    --c-back: #070606;
    --c-fore: #ffffff;
    --c-back2: #1a1313;
    --c-fore2: #ececec;
    --c-accent: #194284;
    --c-accent-fg: #eee;
    --c-hover: #20b62f;
    --c-hover-fg: #fff;
    --c-accent2: #966666;
    --c-accent2-fg: #eee;
    --background1: #1e1f34;
    --background2: #262d39;
    --c-grad: linear-gradient(180deg, rgba(64,64,64,1) 0%,
    rgba(64,64,64,0.700717787114846) 44%,
    rgba(255,255,255,0.639093137254902) 100%);
}
@media screen and (min-width: 1800px) {
    :root {
        --product-columns: 5;
    }
}
@media screen and (max-width: 1140px) {
    :root {
        --product-columns: 2;
    }
}
@media screen and (max-width: 768px) {
    :root {
        --product-columns: 1;
    }
}


/*<--------------------------------global rules-------------------------->*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noise {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.02;
}
.overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
    background-size: auto 4px;
    z-index: 1;
}

.overlay::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
    background-repeat: no-repeat;
    -webkit-animation: scan 7.5s linear 0s infinite;
    animation: scan 7.5s linear 0s infinite;
}

@-webkit-keyframes scan {
    0% {
        background-position: 0 -100vh;
    }
    35%, 100% {
        background-position: 0 100vh;
    }
}

@keyframes scan {
    0% {
        background-position: 0 -100vh;
    }
    35%, 100% {
        background-position: 0 100vh;
    }
}
input, textarea {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

::-webkit-scrollbar {
    width: var(--gap-tiny);
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}
:hover::-webkit-scrollbar-thumb {
    background: var(--c-fade);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--c-hover);
}

html {
    font-size: 18px;
    background: var(--c-back);
    color: var(--c-fore);
    font-family: sans-serif;
    height: 100%;
    background-color: #000000;
    background-image: radial-gradient(var(--background1), var(--background2)), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-size: cover;
}

body *:not(.noanim) {
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.1s;
    -o-transition-delay: 0s;

}

body {
    min-height: 100vh;
    position: relative;

}

.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.fix {
    position: fixed;
}

.boxfix {
    font-size: 0;
}
.boxfix > * {
    font-size: 1rem;
}

.mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    .mobile {
        display: initial;
    }
    .nomobile {
        display: none;
    }
}